body {
  background-color: #FFF7F4;
}

.card-body {
  background-color: #ECEEEF;
}

.name_User {
  display: -webkit-box;
}

.color-1 {
  background-color: aqua;
}

.solid-divid {
  border:2px solid #EB5424;
  width: 50%;
  
}

.nameUser {
  font-size: 51.96px !important;
  line-height: 57.16px !important;
  font-family: 'CircularStd''BRUX',
  'Circular-cyr',
  Montserrat,
  sans-serif !important;
  color: #001E30 !important;
  font-weight: 800 !important;
  letter-spacing: 0px !important;
  padding-bottom: 10px;

}

.color-2 {
  background-color: #df1d0f;

}

.color_text-card {
  color: black;
}

.botton-cards {
  display: inline;
}

.color_linea {
  background-color: #FFF7F4;
  text-align: left;
}

.font-text-user {
  background-color: #D0D2D3;
  padding: 4px 0px 1px 47px;
  margin: -21px -20px 0px -20px;
  text-align: left;
}

.btn-cards {
  text-align: right;
  padding-top: 40px;
}

.btn-outline-danger {
  width:120px;
  margin-left: 30px;
}

.cards-user-v {
  height: 200px;
}

.card-text {
  text-align: left;
  padding: 10px 0px 0px 0px;
    padding-top: 20px;
    font-size: 20.25px !important;
    line-height: 32px !important;
    font-family: 'CircularStd',
    'Circular-cyr',
    Montserrat,
    sans-serif !important;
    color: #001E30 !important;
    font-weight: 400;
    letter-spacing: 0px !important;
}

.text-cards {
  margin-top: 5px;
}

.text-dep {
  margin: 75px 0 25px 0px;
}


/* ---------------------------------------movil---------------------------------- */
@media (min-width: 320px) and (max-width: 480px) {

.color-1 {
  width: 100%;
  background-color: #EB5424;
}


/* .user-boton-c {
  margin-left: unset;
} */


}


.text-ali {
  text-align: left;
}


.solid-divi-cards {
  border: 1px solid ;
}


/* .user-boton-c {
  padding-left:  200px;
} */


.imangen-user {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
}

.imangen-star {
  padding: 75px 5px 5px 5px;
}
/* 
.color-font {
  background-color: #219ad6;
} */


.cards-user-3 {
  display: -webkit-inline-box;
  margin-top: 60px;
}

.card-title {
  font-size: 22.78px !important;
  line-height: 26.4px !important;
  font-family: 'CircularStd',
  'Circular-cyr',
  Montserrat,
  sans-serif !important;
  font-weight: 800 !important;
  text-transform: none !important;
  letter-spacing: 1px;
  letter-spacing: 0px !important;
}