.banner_info {
  /* margin: 10rem 0; */
  text-align: initial;
}

.banner_assets {
  display: flex;
  flex-direction: column;
}

.banner_img {
  width: 100%;
  background-image: url('./Img/banner.jpg');
  background-size: cover;
  padding: 20%;
  margin: 1rem auto;
  width: 90% !important;
  height: 471px;
  border-radius: 12px;
}

.mobile-button {
  display: initial;
}

.desktop-button {
  display: none;
}

.benefits_text {
  margin-left: 10px;
  text-align: initial;
}

.benefits_list {
  flex-direction: column;
}

.bossrepair__info {
  flex-direction: column-reverse;
}

.bossrepair__info_text {
  text-align: initial;
}

.user__info_text {
  text-align: initial;
  margin-left: 10px;
}

.user__info_cards .step-card {
  width: 90%;
  margin: auto;
  color: antiquewhite;
  height: 10rem;
  background-color: #2D2E33;
  margin-bottom: 5px;
}


.user__info_cards {
 
  float: left;
  margin: 15px;
  -webkit-transition: margin 0.9s ease-out;
  -moz-transition: margin 0.9s ease-out;
  -ms-transition: margin 0.2s ease-out;
  transition: margin 0.2s ease-out;
}

.user__info_cards .cards-bor:hover {
   border: 2px solid whitesmoke;
}

.repair__info {
  background-image: url('./Img/repairInfo-movil.jpg');
  background-size: cover;
  padding: 5%;
  border-radius: 12px;
}

.repair__info_text {
  text-align: initial;
  color: antiquewhite;
  /* width: 55%; */
  margin-top: 10rem;
}

.repair__info_text h2 {}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .banner {
    justify-content: flex-end;
    /* background-color: whitesmoke; */

  }

  .banner_info {
    margin-top: 5rem;
  }

  .banner_img {
    width: 100% !important;
    padding: 10rem 0;
    border-radius: 12px;

  }

  .desktop-button {
    display: initial;
  }

  .mobile-button {
    display: none;
  }

  .benefits {
    margin: 5rem 0;
  }

  .benefits_text {
    text-align: center;
  }

  .benefits_list {
    flex-direction: row;
  }

  .bossrepair__info {
    flex-direction: row;

  }

  .bossrepair__info_text {
    margin-top: 2rem;
  }

  .user__info_text {
    text-align: center;
  }

  .repair__info {
    background-image: url('./Img/repair-info-desk.jpg');
    background-size: cover;
    padding: 5%;
    justify-content: flex-end;
  }

  .repair__info_text {
    text-align: end;
    margin: 5rem;
  }

  .repair__info_text h2 {
    font-size: 3rem;
  }
}


/* ------------------------------NEWS------------------ */

.text-landig {
  color: white;
}

.text-reapir {
  color: white;
}

.title-repair {
  font-size: 51.96px !important;
  line-height: 57.16px !important;
  font-family: 'CircularStd', 'Circular-cyr', Montserrat, sans-serif !important;
  color: #e6e6e6 !important;
  font-weight: 800 !important;
  letter-spacing: 0px !important;
  padding-bottom: 30px;
}

.text-landing {
  font-size: 58.45px !important;
  line-height: 64.3px !important;
  font-family: 'CircularStd', 'Circular-cyr', Montserrat, sans-serif !important;
  color: #001E30 !important;
  font-weight: 800 !important;
  letter-spacing: 0px !important;
}

.text-public {
  padding-top: 20px;
  font-size: 20.25px !important;
  line-height: 32px !important;
  font-family: 'CircularStd', 'Circular-cyr', Montserrat, sans-serif !important;
  color: #001E30 !important;
  font-weight: 400;
  letter-spacing: 0px !important;
}

.text-cards {
  font-size: 51.96px !important;
  line-height: 57.16px !important;
  font-family: 'CircularStd', 'Circular-cyr', Montserrat, sans-serif !important;
  color: #001E30 !important;
  font-weight: 800 !important;
  letter-spacing: 0px !important;
  padding-bottom: 30px;
}


.b {
  border: solid 1px #dbe2eb;
  border-radius: 12px;
  box-shadow: #0d1b280f 0px 3px 6px;
  border: 5px solid #ccc;
  float: left;
  margin: 15px;
  -webkit-transition: margin 0.5s ease-out;
  -moz-transition: margin 0.5s ease-out;
  -ms-transition: margin 0.5s ease-out;
  transition: margin 0.5s ease-out;
}

.b img:hover {
  margin-top: 2px;
}


.text-repair-l {
  font-size: 41.05px !important;
  line-height: 45.16px !important;
  font-family: 'CircularStd', 'Circular-cyr', Montserrat, sans-serif !important;
  color: #001E30 !important;
  font-weight: 800 !important;
  letter-spacing: 0px !important;
}

.pasos {
  font-size: 22.78px !important;
  line-height: 26.4px !important;
  font-family: 'CircularStd', 'Circular-cyr', Montserrat, sans-serif !important;
  font-weight: 800 !important;
  text-transform: none !important;
  letter-spacing: 1px;
  letter-spacing: 0px !important;
  padding-bottom: 25px;
  padding-top: 15px;
}


img {
  border-radius: 12px;
}

.cards-bor {
  border-radius: 12px;
  
}


.banner {
  background-color: whitesmoke;
}

.user__info {
  background-color: whitesmoke;
}

.card-text-t {
  font-size: 20.25px !important;
  line-height: 32px !important;
  font-family: 'CircularStd',
  'Circular-cyr',
  Montserrat,
  sans-serif !important;
  color: whitesmoke !important;
  font-weight: 400;
  letter-spacing: 0px !important;

}