
.footer {
  width: 100%;  
} 

.footer__info {
  width: 100%;  
} 

.info__icons {
  width: 100%;
  margin-bottom: 10px;
}


.footer_icon {
  width: 7%;
  margin: auto 1rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .footer_icon {
    width: 3%;
    margin: auto 2rem;
  }
}