.footer-container .row {
  display: block;
  background-color: #757B86;
}

.back {
    background-color: #D0D2D3;
}
.footer {
  background-color: #757B86;
  ;
}

.logo figure {
  text-align: center;
}

.logo figure img {
  width: 150px;
  padding-top: 10px;
  float: left;
  margin-left: 30px;
}

.icons-container {
  display: flex;
  align-items: flex-end;
  margin: auto;
  justify-content: space-evenly;
  margin: 20px 270px;
  width: 200px;
 
}

@media (min-width: 750px) {
  .footer {
    display: flex;
    margin: auto;
    justify-content: space-around;

  }

  .logo figure {
    margin: 30px 0;
  }


}

@media (min-width: 320px) and (max-width: 480px) {

   .icons-container {
     display: flex;
     align-items: flex-end;
     margin: auto;
     justify-content: space-evenly;
     margin: 20px -92px;
     width: 200px;
   }


}


.col-2 {
  margin-left: 43.333333%;
  padding-top: 39px;
}

.icon-social {
  padding-left: 0px;
  width: 0px;
}


.header-color {
  color: #1c1c1c;
}

.wtf {
  margin: 0px;
}


.pad {
  margin-top: 100px;
}


.pago {
  width: 100px;
  height: 100px;
  margin-left: 300px;
}

.foo {
  font-size: 20.25px !important;
  line-height: 32px !important;
  font-family: 'CircularStd',
  'Circular-cyr',
  Montserrat,
  sans-serif !important;
  color: #001E30 !important;
  font-weight: 400;
  letter-spacing: 0px !important;
  margin-left: 300px;
}


.foo-1 {
  font-size: 20.25px !important;
  line-height: 32px !important;
  font-family: 'CircularStd',
    'Circular-cyr',
    Montserrat,
    sans-serif !important;
  color: #001E30 !important;
  font-weight: 400;
  letter-spacing: 0px !important;

}


.img-modi {
  padding-left: 20px;
}