.name-container {
  display: flex;
  justify-content: center;
  margin: 3rem 0 1rem;
}

.name-container h1 {
  /* border-bottom: 1px solid #EB5424; */
  text-align: center;
  margin-bottom: 2rem;
  font-weight: bold;
  font-family: 'CircularStd', 'Circular-cyr', Montserrat, sans-serif !important;
  font-size: 2rem;
  text-align: initial;
}

.divider-dashboard {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(46, 47, 51), rgba(0, 0, 0, 0));
}

@media (min-width: 576px) {}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  
}